
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body{
    margin: 25px;
    height: 100%;
    background: #eeeeee;
}
.container {
   
    padding: 20px;
    margin-bottom: 20px;
  }

  .titre {
    color: #333;
    text-align: center;
  }

  .activity {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .description-wrapper {
    flex: 1;
    text-align: center;
    
  }

  .description-wrapper img {
    border-radius: 10px;
    max-height: 400px;
    max-width: 600px;
    height: auto;
    box-shadow: 0 0 20px rgba(78, 11, 11, 0.3);
    margin: 15px;
  }

  .description-right {
    flex: 1;
    padding-left: 20px;
  }

  #description , #description2  {
    color: #555;
    font-size: 14px;
  }
  


  #aperçu,#aperçu2 {
    color: #333;
    font-size: 16px;
  }
  
  .download-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 15px;
    box-shadow:  1px rgba(0, 0, 0, 0.623);
  }
  .download-button:hover{
    background-color: #333;
  }
  @media (max-width: 768px) {
    .activity {
      flex-direction: column; /* Change flex direction to stack content vertically */
      text-align: center; /* Center the content */
    }
  
    .description-wrapper img {
      max-width: 100%; /* Adjust image width to fit smaller screens */
      margin: 10px auto; /* Center the image horizontally and add margin */
    }
  
    .description-right {
      padding-left: 0; /* Remove padding for smaller screens */
      margin-top: 15px; /* Adjust margin for spacing */
    }
  
    #aperçu, #aperçu2 {
      text-align: center; /* Center text */
    }
  }
  