body{
<<<<<<< Updated upstream
    margin:10px;
    height: 100%;
}
.container {
    min-height:100%;
    display: flex;
   
  }
=======
    margin:30px;

    
}
.container .activity{
    display: flex;
  }
  
  .description-wrapper {
    float: left;
    margin-right: 20px; /* Ajustez la marge selon vos besoins */
  }
  
  .description-right {
    flex-grow: 1;
  }
  
  #aperçu {
    float: right;
  }
  
  
>>>>>>> Stashed changes
