* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 15px;
  background: #eeeeee;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
 font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 20px;
  color: #000000;
  font-weight: bold;
}

.texto {
  color: #666;
}

.Inscription,
.clean,
.course,
.bien {
 
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  outline: none !important; 
  cursor: pointer;
  box-shadow: none !important;
}

.con {
  display: flex;
  margin: 6px;
  text-align: center;
}
.con .contact-link{
  margin-left: 5px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000;
  text-decoration: none;
}
.formu,
.formu1,
.formu2,
.formu3 {
  display: none;
  flex-direction: column;
  background-color: rgba(231, 239, 239, 0.973);
  padding: 5px;
  border-radius: 10px;
}

.name {
  padding:5px;
  margin: 6px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.name div {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.button,
.button1,
.button2,
.button3 {
  text-align: center;
  border-radius: 10px;
}
.close-button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding:10px;
  border-radius: 3px;
  cursor: pointer;
}
.close-button:hover{
  background-color: rgb(0, 110, 255);
}
.Number,
.Disponinible {
  margin: 6px;
}

.Disponinible div {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.Number div {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  padding: 5px;
  height: 30px;
  border-radius: 6px;
}

label {
  margin-bottom: 6px;
}

.formu {
  display: none;
}
