
  /* Header */
  header {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the menu items horizontally */
    align-items: center; /* Center the menu items vertically */
    height: 100%;
    flex-grow: 1;
  }
  
  nav {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .logo {
    padding-left: 20px; /* Add space between the logo and menu items */
  }
  
  .logo img {
    height: 80px;
  }
  
  nav ul li {
    margin-left: 10rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    background-color: #c3cece;
    border-radius: 5px;
  }
  
  nav ul li a {
    
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease-in;
  }
  
  nav ul li a:hover {
    transform: scale(1.1);
    
    padding: 15px;
    border-radius: 15%;
  }
  
  
  
  /* Styles pour les appareils mobiles et tablettes */
  @media (max-width: 768px) {
   
    /* Hide regular menu items */
    nav ul {
      display: none;
    }
  
    /* Show mobile menu icon */
    .mobile-menu {
      display: flex;
      justify-content: space-between;
      flex-direction: flex-end;
    }
  
    .menu-icon {
      cursor: pointer;
      padding: 10px;
      position: absolute;
      top:1.8rem;
      right:0;
    }
  
    .menu-icon span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #000;
      margin: 4px 0;
      transition: transform 0.3s, background-color 0.3s;
    }
  
    /* Rotate and change background color on click */
    .menu-icon.active span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .menu-icon.active span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-icon.active span:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    /* Show the mobile menu items when the button is clicked */
    .menu-items {
      display: none;
      flex-direction: column;
      position: relative;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 0;
    }
  
    .menu-items.active {
      display: flex;
      margin-left: -2rem;
    }
  
    .menu-items li {
      text-align: center;
      padding: 5px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px){
    
    nav ul li {
      margin-left: 2rem;
      
    }
    .menu-items {
      padding: 0;
      margin: 0;
      flex-direction: row;
      align-items: center;
      width: 100%;
      
    }
    nav{
      
      display: flex;
    align-items: center;
   
    }
    nav ul {
      display: flex;
      height: 50px;
      
    }
    
    
  }
  
  