
  /* Header */
  header {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
  }
  
  /* Barre de navigation */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
  }
  nav{
    display: flex;
  align-items: center;
  }
  .logo {
    flex: 1;
    padding-left: 20px; /* Add some padding to create space between the logo and menu items */
  }
  .logo img {
    height: 80px; 
  }
  
  
  nav ul li {
    margin-left: 180px;
    flex: 1;
    text-align: center;
  }
  
  nav ul li a {

    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: transform 0.3s; /* Transition pour l'effet de mise à l'échelle au survol */
  }
  
  nav ul li a:hover {
    transform: scale(1.1); /* Mise à l'échelle au survol */
    background-color: #ccc;
    padding: 15px;
    border-radius: 15%;
  }
  
  /* Styles pour les appareils mobiles et tablettes */
  @media (max-width: 768px) {
   
    /* Hide regular menu items */
    nav ul {
      display: none;
    }
  
    /* Show mobile menu icon */
    .mobile-menu {
      display: flex;
      justify-content: space-between;
      flex-direction: flex-end;
    }
  
    .menu-icon {
      cursor: pointer;
      padding: 10px;
      position: fixed;
      right:0;
    }
  
    .menu-icon span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #000;
      margin: 4px 0;
      transition: transform 0.3s, background-color 0.3s;
    }
  
    /* Rotate and change background color on click */
    .menu-icon.active span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .menu-icon.active span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-icon.active span:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    /* Show the mobile menu items when the button is clicked */
    .menu-items {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      padding: 0;
    }
  
    .menu-items.active {
      display: flex;
    }
  
    .menu-items li {
      text-align: center;
      padding: 10px;
    }
  }