* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    margin:0;
    padding: 0;
    background: #eeeeee;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  
  }
  .container {
    min-height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
  overflow-x: auto;
  }
  
  
  .column {
    margin: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #c3cece;
    border-radius:5px;
  }
  
  .column img {
    min-height: 400px;
    max-width: 600px;
    display: block;
    margin:0 auto;
    
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(31, 30, 30, 0.5);
  }
  .column .titre{
    margin: 10px;
    text-align: center;
  }
#text1 , #text2{
  padding: 20px;
  text-align: center;
  font-weight: 500;
  max-width: 55rem;
}
@media (max-width: 768px) {
  .container {
    
    display: flex;
    flex-direction: column;
  
  }
  .column {
    margin: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
  }
  .column img {
    min-height: auto;
    width: 100%;
  }

  #text1,
  #text2 {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  
  }
 
  .column {
    
    margin: 10px;
    padding: 5px;
    position: relative;
  }

  #text1,
  #text2 {
    padding: 15px;
  }
}
