* {
  margin: 0;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  margin-right: 1rem;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
}
.container-intro {
  margin: 1.25rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.875rem;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-bottom: 3.5rem;
}
.intro img {
  height: 23.75rem;
  width: 31.25rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pergraph {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  padding-top: 2.5rem;
}

.titlePergraph a {
  text-decoration: none;
  color: black;
}
.titlePergraph {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
/* For smaller screens */
@media (max-width: 768px) {
  body {
    margin: 0;
  }
  
  .container-intro {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  .intro img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

/* For larger screens */
@media (min-width: 1200px) {
 
  
  .container-intro {
    grid-template-columns: repeat(3, 1fr);
  }
}
