

* {
    
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  body {
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
  }
  
 
  
  .slideshow-container {
      max-width: 980px;
      position: relative;
      margin: auto;
    }
    
  
    .mySlides {
      
      max-height: 550px;
      object-fit: cover;
      overflow: hidden;
      display: none;
    }
    .mySlides .mypics{
      
      height: 600px;
      object-fit: fill;
      user-select: none;
      width: calc(100% / 2);
      margin-left: 14px;
      border-radius: 25px;
    }
    
    .prev , .next {
      cursor: pointer;
      top: 50%;
      position: absolute;
      background:rgba(255, 255, 255, 0.493);
      height: 44px;   
      width: 44px;
      line-height: 44px;
      text-align: center;
      border-radius: 50%;
      font-size: 1.2rem;
      transform: translateY(-50%);
      
    }
    .prev{
      left: -12px;
    }
   
    .next {
      right:459px;
      border-radius: 44px;
    }
    
   
    .prev:hover, .next:hover {
      
      background-color: rgba(0, 0, 0, 0.342);
    }
    
    
    .text {
      
      color: #000000;
      font-size: 20px;
      padding:14px;
      width: 300px;
      height: 350px;
      text-align: center;
      float: right;
      border-radius: 10px;
      object-fit: contain;
      overflow: auto ;
      margin: 40px;
    }
    .text:hover{
      background-color: hsla(0, 0%, 34%, 0.369);
    }
    .text::-webkit-scrollbar{
      width: 12px;
      background-color:transparent;
    }
    .text::-webkit-scrollbar-thumb {
      border-radius: 20px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.650);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.650); 
  }
  .text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.650);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.650); 
    border-radius: 20px;
  }
    
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    @media screen and (max-width:900px){
      .slideshow-container .mypics{
          width: calc(100% / 2);
  
      }
  }
  @media screen and (max-width:650px){
      .slideshow-container .mypics {
          width:100%;
  
      }
  }