/* Réinitialiser les marges, les paddings et la boîte de modèle pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style de base pour le HTML et le body */
  html, body {
    margin: 15px;
    background: #eeeeee;
  }
  
  /* Style pour le conteneur principal */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Style pour la grille de photos */
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto; /* Centrer la grille de photos horizontalement */
    width: 100%;
  }
  
  /* Style pour chaque élément de photo */
  .photo-item {
    text-align: center;
    background-color: #f1f1f1;
    padding: 35px;
    border-radius: 10px;
    transition: background-color 0.3s;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Style pour l'image de chaque élément de photo */
  .photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    aspect-ratio: 1/1;
  }
  .photo-item img:hover{
    transform: scale(1.2);
  }
  .photo-grid a {
    color: #000;
    text-decoration: none;
  }
  /* Style pour le titre de chaque élément de photo */
  .photo-item h3 {
    margin-top: 10px;
  }
  
  /* Style pour les informations du cours (note et durée) */
  .course-info {
    display: flex;
    justify-content: space-between;
  }
  
  /* Style pour la note du cours */
  .course-info .rating {
    background-color: #ffc107;
    color: #fff;
    padding: 2px 8px;
    border-radius: 5px;
    /* Texte sans soulignement */
    text-decoration: none;
  }
  
  /* Style pour la durée du cours */
  .course-info .duration {
    color: #555;
  }
  .course-info .rating:hover{
    background-color: #aa8003;
  }
  /* Media query pour les écrans de petite taille */
  @media (max-width: 768px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .photo-item {
      padding: 10px;
    }
  
    .photo-item img {
      max-height: 150px;
    }
  
    .course-info {
      font-size: 12px;
      margin-top: 5px;
    }
  }
  